.weather-app-wrapper {
  margin: 20px;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #5f6769;
  border-radius: 4px;
  font-family: "Muli", sans-serif;
}

.git-link {
  margin-left: 20px;
}

.currentCity {
  text-align: right;
  font-size: 12px;
  margin: 5px 0px;
}

.input-group {
  margin: 10px 0px;
}
.btn-outline-secondary {
  border: 1px solid #ced4da;
}

.btn-outline-secondary:hover {
  background: #fff;
}

.fa-search {
  color: grey;
}

.currentTemperature {
  font-size: 38px;
  padding: 10px;
  line-height: 1;
}

.temperatureUnit {
  font-size: 14px;
  position: relative;
  margin-top: 10px;
  padding-left: 10px;
}

.temperatureUnit .active {
  color: #000;
  cursor: default;
}

.temperatureUnit .active:hover {
  text-decoration: none;
}

.dayInfo {
  margin: 15px 0px;
  color: #1089ff;
}

.currentWeather {
  margin: 20px 0px;
}

.currentWeather h6 {
  font-size: 13px;
  color: #aaabac;
  margin: 7px;
}

.currentWeather .today-img {
  height: 64px;
  width: 64px;
  float: left;
}

.forecast h3 {
  text-align: center;
  font-size: 13px;
  color: #aaabac;
  font-weight: 400;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  color: #aaabac;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
